
#weather-info p {
    text-align: center;
    font-size: large;
}

/* search and refresh section */
.search-city {
    margin-bottom: 10px;
}

#refresh-button {
    margin-top: 10px;
}

/* Main Card Section */
#weather-info {
    padding-left: 80px;
}

#weatherIcon {
    padding-left: 230px;
}

.card-content {
    background-color: lightcyan;
}

#uv-color {
    padding-left: 90px;
}
